body {
    background-image: url("../images/background.svg");
    background-size: cover;
    background-color: #E6E6E6;
    background-attachment: fixed;
    font-family: Helvetica;
    font-size: 85%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    color: rgb(10, 10, 10);
    height: 100vh;
    width: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
}

main {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px #00000080;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 5px;
    width: 50%;;
    padding: 2rem 2rem 1rem 2rem;
    text-align: center;
    margin: 0 auto;
}

main a {
    background-color: #302F4D;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    padding: 0.6rem;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

input, textarea, select{
    box-sizing: border-box;
    width: 100%;
    margin: 10px auto;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black
} 

textarea {
    min-height: 10px; 
    max-height: 120px;
    margin-bottom: 10px;
}

input:focus {
    box-shadow: 0px 0px 10px #00000080;
    outline: none;
}

header {
    background-color: #120D31;
    position: sticky; 
    top: 0;
    height: 64px;
}

nav li{
    display: flex;
    flex: 1;
}

.nav-links {
    list-style: none;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
}

.anuncioOptions {
    display: flex;
    flex: 1;
    color: white;
    text-decoration: none;
    justify-content: center;
    gap: 3rem;
}

.logoff {
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
    align-items: center;
    max-width: 150px;
    text-decoration: none;
    gap: 5px;
    color: white;
    border: none;
    cursor: pointer;
    background-color: #120D31;
}

.liLogoff{
    justify-content: flex-end;
}

.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: white;
    padding-left: 1rem;
    margin: auto 0;
}

footer {
    background-color: #120D31;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: x-small;
    width: 100%;
    box-sizing: border-box;
}

a {
    text-decoration: none; 
    color: inherit;
}

main button {
    background-color: #302F4D;
    border-radius: 10px;
    width: 100%;
    color: white;
    cursor: pointer;
    padding: 0.6rem;
    display: flex;
    justify-content: center;
    text-decoration: none;
}


@media (max-width: 675px) {

    main {
        width: 80%;
    }

    header {
        display: flex;
    }

    .nav-links {
        position: absolute;
        width: 40%;
        background-color: #120D31;
        flex-direction: column;
        display: none;
        padding: 1rem 0rem;
    }
    
    .anuncioOptions {
        flex-direction: column;
        margin: 2rem;
        gap: 2rem;
    }

    .nav-links.active {
        display: flex;
        margin: 0;
        padding: 1rem;
    }
    
    .hamburger {
        display: block;
    }
}