body {
  background-image: url("/images/background.svg");
  background-size: cover;
  background-attachment: fixed;
  font-family: Helvetica;
  font-size: 85%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  color: rgb(10, 10, 10);
}

hr {
  border: none;
  height: 2px;
  background-color: #120d31;
  margin: 0;
}

main {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem auto;
  flex-direction: column;
  background-color: #120d31;
  border-radius: 10px;
  padding: 0.7rem;
}

nav {
  position: sticky;
  top: 0;
  background-color: #120d31;
  padding: 1px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  list-style: none;
  gap: 20px;
  padding: 0;
}

nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 25px;
}

nav ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 5px;
  text-decoration: none;
  color: white;
}

footer {
  background-color: #120D31;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: x-small;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center; 
  gap: 10px; 
  max-width: 100%; 
  padding: 12px;
}

.container img {
  max-width: 32%; 
  height: auto;
  border-radius: 10px;
}

.detalhes {
  border-radius: 10px;
  padding: 1rem 1rem 0rem 1rem;
  max-width: 100%;
  background-color: #cdcdcd;
}

.detalhes h2 {
  font-weight: bold;
  font-size: 2rem;
  margin: 0 auto;
}

.detalhes p {
  font-size: medium;
  font-weight: bold;
  color: rgb(35, 35, 35);
}

.detalhes span {
  font-weight: normal;
}

@media (max-width: 600px) {

  .container {
      display: flex;
      flex-direction: column;
      flex: 1;
      box-sizing: border-box;
  }

  .container img {
      max-width: 100%; 
      width: auto; 
      max-height: 200px;
      border-radius: 10px;
  }

  .detalhes{
      box-sizing: border-box;
  }
}